body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Courier New', Courier, monospace;
}

.avatar {
    width: 150px;
    border-radius: 8px;
} 

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #0BAFC1;
    color: #2b2839;
    border-bottom: 6px solid #f6bd60ff;
    border-radius: 8px;
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
    --hunyadi-yellow: #f6bd60ff;
    --liver: #664e4cff;
    --celeste: #bcf8ecff;
    --lapis-lazuli: #05668dff;
    --orchid-pink: #efb9cbff;
     */
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

